/**
 * Property order:
 *  1. @extend and @include (@include can be moved)
 *  2. Box
 *  3. Border
 *  4. Background
 *  5. Text
 *  6. Other
 */

@import 'bourbon';
@import 'include-media';
@import 'reset';
@import 'variables';
@import 'mixins';

html, body {
    width:  100%;
    height: 100%;
}

html {
    box-sizing: border-box;
    text-size-adjust: 100%;
    -moz-osx-font-smoothing:  auto;
    hyphens: none;
    font-size: 16px;
    -webkit-font-smoothing:   subpixel-antialiased;
            font-smoothing:   subpixel-antialiased;
    text-rendering: optimizeLegibility;

    @media all and (min-width: 2001px) { font-size: 20px; }
    @media all and (max-width: 2000px) { font-size: 19px; }
    @media all and (max-width: 1800px) { font-size: 18px; }
    @media all and (max-width: 1600px) { font-size: 17px; }
    @media all and (max-width: 1400px) { font-size: 16px; }
    @media all and (max-width: 520px)  { font-size: 16px; hyphens: auto; }
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    @extend %font-lato;

    height: 100%;
    background-color: #332222;
    color:            $color-body;
    line-height:      1.4;

    overflow-x: hidden;
    overflow-y: scroll;

    -ms-overflow-style: none;

    .js & {
        transition: opacity .275s $ease-out-quint;
        @include opacity(0);
    }

    .wf-active &,
    .wf-inactive &,
    .loaded & {
        @include opacity(1);
    }
}

.wrapper {
    position:          relative;
    max-width:         em(900px);
    margin:            em(90px) auto;
    background-image:  imgurl('cardboard-beige.png');
    background-color:  $background-wrapper;
    background-repeat: repeat;

    box-shadow: 0 0 em(15px) rgba(black, .45),
                inset 0 0 em(150px) rgba(white, .7),
                inset 0 0 em(3px) em(1px) rgba(white, .9);


    @include media('<=1200px') {
        max-width:  em(800px);
        margin:     em(70px) auto;
        box-shadow: 0 0 em(15px) rgba(black, .45),
                    inset 0 0 em(50px) rgba(white, .7),
                    inset 0 0 em(3px) em(1px) rgba(white, .9);
    };

    @include media('<=1000px') {
        max-width: em(800px);
    }

    @include media('<=840px') {
        max-width:  auto;
        margin:     em(40px) em(20px);
        box-shadow: 0 0 em(15px) rgba(black, .45),
                    inset 0 0 em(25px) rgba(white, .7),
                    inset 0 0 em(3px) em(1px) rgba(white, .9);
    };

}

p, li, th, td {
    @extend %responsive-letter-space-p;

    margin:         0 auto;
    padding:        0;
    padding-bottom: 1em;
    line-height:    1.5em;
    text-shadow:    1px 1px 0 rgba(white, .1);
}

a {
    @extend %transition-timing;

    transition-duration: .3s;
    transition-property: border, background, color;
    border-bottom:       em(2px) solid $color-link-border;
    color:               $color-link;
    text-decoration:     none;

    &:hover,
    &:focus {
        border-bottom-color: $color-link-hover-border;
        color:               $color-link-hover;
        text-decoration:     none;
        text-shadow:    1px 1px 0 rgba(black, .1);
    }
}

img {
    display:   inline-block;
    max-width: 100%;
}

h2, h3, h4 {
    text-align: center;
    text-transform: uppercase;
}

h2 {
    @extend %font-pt;

    padding:        em(10px) 0;
    color:          $color-h2;
    font-size:      em(44px);
    letter-spacing: .1rem;
    text-shadow:    1px 1px 0 rgba(white, .1);

    @include media('<=desktop') {
        font-size:      em(38px);
        letter-spacing: .05rem;
    };

    @include media('<=phone') {
        font-size:      em(32px);
        letter-spacing: -.04rem;
        line-height:    .9em;
    }

    @include media('>=870px') {
        padding-left: em(20px, 16px * em(38px));
    };
}

h3 {
    @extend %font-pt;

    padding:     em(15px) 0 em(15px) 0;
    color:       $color-h3;
    font-size:   em(20px);
    text-shadow: 1px 1px 0 rgba(white, .1);

    em {
        display:       block;
        margin-top:    em(-5px, 16px * em(20px));
        font-size:     em(50px, 16px * em(20px));
    }

    @include media('<=phone') {
        margin-top:     0;
        font-size:      em(18px);
        letter-spacing: -.04rem;
    }
}

h4 {
    @extend %font-pt;

    padding:     em(10px) 0 em(25px) 0;
    color:       $color-h4;
    font-size:   em(18px);
    text-shadow: 1px 1px 0 rgba(white, .1);

    @include media('<=desktop') {
        font-size:      em(20px);
        letter-spacing: .05rem;
    };

    @include media('<=phone') {
        font-size:      em(18px);
        letter-spacing: -.04rem;
        line-height:    .9em;
    }
}

strong {
    @extend %font-lato-bold;
    border-bottom: 2px solid rgba($color-body, .6);
    color: rgba($color-body, .75);
}

ul {
    padding: .7em 0;

    li {
        position:       relative;
        padding-bottom: .5em;
    }

    li:before {
        position: absolute;
        left:     -.75em;
        color:    $color-li-bullet;
        content:  '\2022';
    }
}

.grid {
    display:         flex;
    align-items:     center;
    justify-content: space-around;

    > .icon {
        display: block;
    }

    @include media('<=870px') {
        display: block;
    }
}

    .grid--align-top {
        align-items: flex-start;
    }

    .grid__item-1 {
        flex: 1 1 0%;
    }

    .grid__item--pad-sides {
        @include media('>=870px') {
            padding: 0 em(20px);
        };
    }


.site-header {
    padding:          em(20px) em(16px);
    background:       imgurl('bg-header.jpg') center center;
    background-size:  cover;
    background-color: $background-wrapper;
    @include opacity(.55);

    @include media('>=870px') {
        padding: em(75px) em(36px);
    }
}

.site-logo {
    display:   block;
    max-width: em(600px - 80px);
    margin:    auto;
    padding:   0;

    @include media('<=870px') {
        max-width: em(400px - 16px - 16px);
    }
}



.content {
    max-width: em(700px);
    margin:    auto;
    padding:   em(16px);

    @include media('<=870px') {
        max-width: em(600px);
    }

    .image {
        position:       relative;
        margin-bottom:  1em;
        padding-bottom: 0;

        img {
            position:  relative;
            width:     100%;
            max-width: 100%;
            border:    em(5px) solid #ebddee;
            z-index:   15;
        }

        a {
            border-bottom: 0;
        }

        &:before,
        &:after {
            display:    block;
            position:   absolute;
            top:        0;
            right:      0;
            bottom:     0;
            left:       0;
            background: #ebddee;
            content:    '';
        }

        img,
        &:before,
        &:after {
            box-shadow: 0 0 em(5px) rgba(black, .5);
        }

        &:before {
            transform: rotate(-.75deg) translateY(em(-2px));
            z-index:   10;
        }

        &:after {
            transform: rotate(1deg) translateY(em(-2px));
            z-index:   5;
        }
    }

    .responsible .image {
        max-width: 250px;
    }
}

.grid__item-1:nth-child(even) .image { transform: rotate(-.75deg); }
.grid__item-1:nth-child(odd)  .image { transform: rotate(.75deg);  }



@import 'form-elements';
@import 'sections';



.site-footer {
    @extend %font-pt;
    margin-top:     em(40px);
    padding:        em(40px) em(20px);
    color:          invert($color-body);
    text-align:     center;
    text-transform: uppercase;

    p {
        text-shadow: none;
    }

    p:last-of-type {
        padding-bottom: 0;
    }

    a {
        border-bottom-color: rgba(black, .5);

        &:hover {
            border-bottom-color: murky(0);
            color:               murky(.7);
            text-shadow:         none;
        }
    }
}

.video-container {
    position:       relative;
    height:         0;
    padding-top:    30px;
    padding-bottom: 56.25%;
    overflow:       hidden;

    iframe,
    object,
    embed {
        position: absolute;
        top:      0;
        left:     0;
        width:    100%;
        height:   100%;
    }
}

// scss-lint:disable QualifyingElement
input[type=submit],
.button {
// scss-lint:enable QualifyingElement
    @extend %font-pt;
    @extend %transition-timing;
    @include font-color(cloudy(.9), $color-button);

    display:             inline-block;
    padding:             .2em 1.4em;
    transition-duration: .3s;
    transition-property: all;
    border:              0;
    border-radius:       em(3px);
    background-color:    $background-button;
    font-size:           em(18px);
    letter-spacing:      .05rem;
    text-decoration:     none;
    text-transform:      uppercase;

    @include media('<=phone') {
        letter-spacing: 0;
    };

    &:hover,
    &:focus, {
        outline:          0;
        background-color: $background-button-hover;
        color:            $color-button-hover;
        text-decoration:  none;
    }
}

%hidden {
    @include opacity(0);
    overflow:   hidden;
    visibility: hidden;
}

%visible {
    @include opacity(1);
    overflow:   visible;
    visibility: visible;
}

%responsive-letter-space-p {
    @include media('>=tablet') {
        letter-spacing: .035rem;
    };
}

%clear {
    @include clearfix;
}

%font-lato {
    font-family: $font-lato;
    font-weight: 400;
}

%font-lato-bold {
    font-family: $font-lato;
    font-weight: 900;
}

%font-pt {
    font-family: $font-pt;
    font-weight: 700;
}

%font-marker {
    font-family: $font-marker;
}

%transition-timing {
    transition-timing-function: cubic-bezier(.645, .045, .355, 1);
}

// Basic print style
@import 'print';
